.button {
  width: 120px;
  height: 35px;
  background-color: transparent;
  border: 1px solid #004d40;
  color: #004d40;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    background-color: rgba(15, 89, 88, 0.11);
  }

  &:active {
    transform: translateY(2px);
  }

}

.chosen-btn {
  background-color: #0F5958;
  color: #F7F4EE;

  &:hover {
    background-color: #0F5958;
  }
}
