.form__authorization {
  //border: 1px solid #0F5958;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 15px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  width: 330px;
  min-height: 420px;
  margin: auto;
  padding: 35px;
  border-radius: 10px;

  h2 {
    display: flex;
    align-items: center;
  }

  .input__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .input__error {
      margin-top: 5px;
      text-align: center;
      color: red;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .btn_registration {
    margin-top: auto;
    width: 100%;
    height: 50px;
    padding: 5px 20px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    background: #0A393F;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 5px;

    &:hover {
      cursor: pointer;
      background-color: #0F5958;
    }
  }

  .login {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .submit__error {
    text-align: center;
    color: red;
    font-size: 12px;
    font-weight: bold;
  }
}