.navbar {
  background: #042326;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 20px;
  font-size: 1.5em;
  color: #F7F4EE;
  font-weight: lighter;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  .navbar__links {
    display: flex;
    gap: 30px;
  }

  .navbar__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    color: #F7F4EE;

    &:hover {
      -webkit-text-shadow: rgba(247, 244, 238, 0.5) 0px 0px 15px;
      -moz-box-text-shadow: rgba(247, 244, 238, 0.5) 0px 0px 15px;
      text-shadow: rgba(247, 244, 238, 0.5) 0px 0px 15px;
      cursor: pointer;
    }
  }
}