
.table-container {
  .table__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1275px) {
      justify-content: space-around;
      .task__header {
        margin: 15px;
      }
    }
  }

  .FormControlLabel {
    padding: 0 15px;
  }

  .btn-panel {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0;
  }

  .col-counter {
    width: 35px;
    overflow: hidden;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 1275px) {
      font-size: 11px;
      width: 27px;
    }
  }

  .col-description {
    width: 450px;
    overflow: hidden;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 1500px) {
      width: 290px;
    }

    @media screen and (max-width: 1275px) {
      width: 80px;
      font-size: 11px;
    }
  }

  .col-assigned {
    width: 230px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 1500px) {
      width: 120px;
      font-size: 11px;
    }

    @media screen and (max-width: 1275px) {
      width: 80px;
      font-size: 11px;
    }
  }

  .col-section {
    width: 130px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 1500px) {
      width: 100px;
    }
    @media screen and (max-width: 1275px) {
      width: 70px;
      font-size: 11px;
    }
  }

  .col-dateStart {
    width: 100px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 1275px) {
      width: 65px;
      font-size: 11px;
    }
  }

  .col-priority {
    width: 100px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 1275px) {
      width: 65px;
      font-size: 11px;
    }
  }

  .high-priority {
    color: #b22a00;
    font-weight: bold;
  }

  .col-completed {
    width: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    @media screen and (max-width: 1275px) {
      width: 65px;
      font-size: 11px;
    }
  }

}

@media screen and (max-width: 800px) {
  #cell-start-date,
  #cell-start-date-th {
    display: none;
  }
}
