.table-container {
  .table__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .btn-panel {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .col-counter {
    width: 35px;
    overflow: hidden;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }

  .col-description {
    width: 450px;
    overflow: hidden;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }

  .col-assigned {
    width: 230px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

  }

  .col-section {
    width: 130px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

  }

  .col-dateStart {
    width: 100px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

  }

  .col-priority {
    width: 100px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

  }

  .high-priority {
    color: #b22a00;
    font-weight: bold;
  }

  .col-completed {
    width: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

}

